PORT=3000
APP_NAME=weekly_narrator_api

GITHUB_CLIENT_ID=tu_github_client_id
GITHUB_CLIENT_SECRET=tu_github_client_secret
GITHUB_CALLBACK_URL=http://localhost:3000/auth/github/callback

JWT_SECRET=tu_jwt_secret_de_desarrollo

GROQ_API_KEY=tu_groq_api_key
GROQ_MODEL=llama-3.3-70b-versatile

FRONTEND_URL=http://localhost:4200

DATABASE_URL=postgresql://postgres:postgres@postgres:5432/weekly_narrator
DIRECT_URL=postgresql://postgres:postgres@postgres:5432/weekly_narrator

CRON_API_KEY=tu_cron_api_key
